<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>

.container {
  display: flex;
  justify-content: space-between;
  width: 80%; 
  margin: 0 auto;
}

button {
  background-color: black;
  color: white;
  border: 2px solid black;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}

button:hover {
  background-color: darkgrey;
}
</style>
<body>
  <div class="container">
    <button id="button" onclick="window.location.href='/login'">Login</button>
    <button id="button2" onclick="window.location.href='/register'">Register</button>
  </div>
</body>
</html>